# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
bzip2=1.0.8=h3422bc3_4
ca-certificates=2022.9.24=h4653dfc_0
cloudpickle=2.2.0=pypi_0
contourpy=1.0.6=pypi_0
cycler=0.11.0=pypi_0
fonttools=4.38.0=pypi_0
gym=0.26.2=pypi_0
gym-notices=0.0.8=pypi_0
gym-tankwar=1.0.0=dev_0
kiwisolver=1.4.4=pypi_0
libffi=3.4.2=h3422bc3_5
libsqlite=3.40.0=h76d750c_0
libzlib=1.2.13=h03a7124_4
matplotlib=3.6.2=pypi_0
ncurses=6.3=h07bb92c_1
numpy=1.23.2=pypi_0
openssl=3.0.7=h03a7124_0
packaging=21.3=pypi_0
pillow=9.3.0=pypi_0
pip=22.3.1=pyhd8ed1ab_0
pygame=2.1.2=pypi_0
pyparsing=3.0.9=pypi_0
python=3.10.6=hae75cb6_0_cpython
python-dateutil=2.8.2=pypi_0
readline=8.1.2=h46ed386_0
setuptools=65.5.1=pyhd8ed1ab_0
six=1.16.0=pypi_0
tk=8.6.12=he1e0b03_0
tzdata=2022f=h191b570_0
wheel=0.38.4=pyhd8ed1ab_0
xz=5.2.6=h57fd34a_0
